@font-face {
	font-family: 'Teachers', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family: 'Teachers', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
  font-weight: normal;
}

a,
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: #000;
	cursor: pointer !important;
}

a:hover {
	cursor: pointer !important;
}

body {
	padding: 0;
	margin: 0;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	position:relative;
	height: auto;
	font-weight: normal;
}

#home {
	font-family: 'Teachers', sans-serif;
	font-size: 212px;
	line-height: 0.90em;
	padding: 120px 75px 0px 75px;
	margin: 0 0 200px 0;
	width: calc(100% - 150px);
	height: auto;
	background-color: #fff;
	z-index: 5;
	position: relative;
	letter-spacing: -0.02em;
}

#home a:link,
#home a:visited,
#home a:active {
	color:#999;
}

#home a:hover {
	text-decoration: none; /* You can specify other styles here if needed */
    color: red; /* This will change the text color to red on hover */
}

#logo {
	position: fixed;
	top: 60px;
	right: 80px;
	font-family:' 'Teachers', sans-serif;
	font-size: 50px;
	letter-spacing: 0.03em;
	z-index: 2;
	width: 380px;
	height: 20px;
	text-align: right;
}

.hover-effect:hover::after {
    content: "\A neither arrogant nor ignorant enough to call myself an expat.";
    color: red;
    position: relative;
    background-color: transparent;
    padding: 0px;
    border: 0px solid #000;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

