@font-face {
	font-family:'Grotesk-Regular';
	src: url('../fonts/GroteskRegular_gdi.eot');
	src: url('../fonts/GroteskRegular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GroteskRegular_gdi.woff') format('woff'),
		url('../fonts/GroteskRegular_gdi.ttf') format('truetype'),
		url('../fonts/GroteskRegular_gdi.svg#GroteskRegular-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'Grotesk-Bold';
	src: url('../fonts/GroteskBold_gdi.eot');
	src: url('../fonts/GroteskBold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GroteskBold_gdi.woff') format('woff'),
		url('../fonts/GroteskBold_gdi.ttf') format('truetype'),
		url('../fonts/GroteskBold_gdi.svg#GroteskBold-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
  font-weight: normal;
}

a,
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: #000;
	cursor: pointer !important;
}

a:hover {
	cursor: pointer !important;
}

body {
	padding: 0;
	margin: 0;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	position:relative;
	height: auto;
	font-weight: normal;
}

#home {
	font-family: 'Grotesk-Bold';      /* Uses 'Grotesk-Bold' font */
	font-size: 212px;                 /* Very large font size */
	line-height: 0.90em;              /* Lines are slightly closer together */
	margin: 200px 75px 200px 75px;           /* Margin: no top/right, 200px bottom, 75px left */
	width: calc(100% - 150px);        /* Width calculated as full width minus 150px */
	height: auto;                     /* Height adjusts based on content */
	background-color: #fff;           /* White background */
	z-index: 5;                       /* Stacking order */
	position: relative;               /* Positioned relative to normal position */
	letter-spacing: -0.02em;          /* Slightly tighter character spacing */
}

#home a:link,
#home a:visited,
#home a:active {
	color:#999;
}

#home a:hover {
	text-decoration: none; /* You can specify other styles here if needed */
    color: red; /* This will change the text color to red on hover */
}

#logo {
	position: fixed;
	top: 60px;
	right: 80px;
	font-family:'Grotesk-Bold';
	font-size: 50px;
	letter-spacing: 0.03em;
	z-index: 2;
	width: 380px;
	height: 20px;
	text-align: right;
}

.hover-effect:hover::after {
    content: "\A neither arrogant nor ignorant enough to call myself an expat.";
    color: red;
    position: relative;
    background-color: transparent;
    padding: 0px;
    border: 0px solid #000;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

